{minimum_otp_vsn, "22.0"}.

{erl_first_files, ["src/gen_nb_server.erl", "src/riak_core_gen_server.erl",
		   "src/riak_core_stat_xform"]}.

{cover_enabled, true}.

{erl_opts, [warnings_as_errors, debug_info]}.

{edoc_opts, [{preprocess, true}]}.

{eunit_opts, [verbose]}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used]}.

{plugins, [{eqc_rebar, {git, "https://github.com/Quviq/eqc-rebar", {branch, "master"}}}]}.

{deps, [
  {poolboy, "1.5.2"},
  {riak_sysmon, "2.1.7"},
  {clique, {git, "https://github.com/fkrause98/clique", {branch, "develop"}}},
  {eleveldb, "2.2.20"},
  {riak_ensemble, {git, "https://github.com/basho/riak_ensemble", {branch, "develop"}}},
  {pbkdf2, "2.0.0"},
  {cluster_info, {git, "https://github.com/basho/cluster_info.git", {branch, "develop"}}},
  {exometer_core, {git, "https://github.com/Feuerlabs/exometer_core", {branch, "master"}}},
  {basho_stats, "1.0.3"}
]}.

{dialyzer, [{plt_apps, all_deps}]}.

{profiles, [
    {test, [{deps, [meck]}, {erl_opts, [nowarn_export_all]}]},
    {eqc, [{deps, [meck]}, {erl_opts, [{d, 'EQC'}, nowarn_export_all]}]},
    {gha, [{erl_opts, [{d, 'GITHUBEXCLUDE'}]}]}
]}.
